<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>clipboard demo</title>
    <script type="text/javascript" src='/jquery-1.7.2.min.js'></script>
    <script src="/underscore.js"></script>
    <link rel="stylesheet" href="/pure-min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="pure-g">
    <div class="pure-u-1 l-centered">
       <div class="container" contenteditable="true">
       </div>
    </div>
</div>
</body>
<script src="/app.js"></script>
</html>