#page-wrap {    width: 100%;}
#rapheal{width:1024px;height:530px;margin:-85px auto 0 auto;}
#rapheal{position:relative\0/;top:-64px\0/;}
#rapheal img{width:336px;height:33px;display:none;position:relative;top:-376px;left:91px;*top:-372px;z-index:200}
#rapheal svg circle{display:none}
@-moz-document url-prefix(){
    #rapheal{margin:0 auto}
    #rapheal svg{float:left;margin-top:-64px}
    #bottom{margin-top:-100px}
}