<div class="area" id="area">
  <div class="pics">
    <div class="left"><a>aaa</a></div>
    <div class="right"><a>bbb</a></div>
    <ul class="ul">
     <li><img src="/images/cat/1.jpg" alt="" /></li>
     <li><img src="/images/cat/2.jpg" alt="" /></li>
     <li><img src="/images/cat/3.jpg" alt="" /></li>
     <li><img src="/images/cat/4.jpg" alt="" /></li>
     <li><img src="/images/cat/5.jpg" alt="" /></li>
     <li><img src="/images/cat/6.jpg" alt="" /></li>
     <li><img src="/images/cat/7.jpg" alt="" /></li>
     <li><img src="/images/cat/8.jpg" alt="" /></li>
     <li><img src="/images/cat/8.jpg" alt="" /></li>
     <li><img src="/images/cat/10.jpg" alt="" /></li>
     <li><img src="/images/cat/11.jpg" alt="" /></li>
     <li><img src="/images/cat/12.jpg" alt="" /></li>
     <li><img src="/images/cat/1.jpg" alt="" /></li>
     <li><img src="/images/cat/2.jpg" alt="" /></li>
     <li><img src="/images/cat/3.jpg" alt="" /></li>
     <li><img src="/images/cat/4.jpg" alt="" /></li>
     <li><img src="/images/cat/5.jpg" alt="" /></li>
     <li><img src="/images/cat/6.jpg" alt="" /></li>
     <li><img src="/images/cat/7.jpg" alt="" /></li>
     <li><img src="/images/cat/8.jpg" alt="" /></li>
     <li><img src="/images/cat/8.jpg" alt="" /></li>
     <li><img src="/images/cat/10.jpg" alt="" /></li>
     <li><img src="/images/cat/11.jpg" alt="" /></li>
     <li><img src="/images/cat/12.jpg" alt="" /></li>
    </ul>
  </div>
</div>
<style type="text/css">
* {margin: 0;pading:0;}
.container {margin:0;padding:0;width:auto;}
.area {margin: 100px 50px;}
.ul {white-space: nowrap;overflow:hidden;border: 2px solid #f00;}
.ul li {display:inline;}
.left {float:left;}
.right {float:right;}
.disable {cursor: not-allowed;}
</style>
