<div>
<ul class="write_tips pic_tabs">
    <li class="write_tips_current pic_tab" id="pic_local" data-id="pic_area_local" data-cls="pic_area">
        <%= loc_pic %>
    </li>
    <li class="pic_tab" id="pic_net" data-id="pic_area_net"  data-cls="pic_area">
        <%= net_pic %>
    </li>
</ul>
<div>
<div id="pic_area_local" class="pic_area">
    <p><%= pic_info1 %></p>
    <form enctype="multipart/form-data" target="file_upload_ifr" method="post" action="" id="pic_local_form" name="pic_local_form">
        <input type="file" name="pic_local" multiple="multiple" id="pic_local_ipt">
        <div class="btn_config">
            <input type="button" value="<%= ok %>" class="pic_preview yes">
            <input type="button" value="<%= cancel %>" class="pic_close">
        </div>
    </form>
</div>
<div id="pic_area_net"  class="pic_area" style="display:none;">
    <p><%= pic_info2 %></p>
    <input type="text" name="pic_net" id="pic_net_ipt">
    <div class="btn_config">
        <input type="button" value="<%= ok %>" class="pic_net_insert yes">
        <input type="button" value="<%= cancel %>" class="pic_close">
    </div>
</div>
</div>
</div>