<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script src="jquery.js"></script>
    <script src="angular.min.js"></script>
</head>
<body>
    <p id="test" ng-controller="TestCtrl" ng-click="click()">{{ a }}
        <input type="" ng-model="a">
    </p>
    <div ng-include src="'tpl_1.html'"></div>
    <div ng-include="'tpl_1.html'"></div>
    <div ng-include="'tpl'"></div>
    <div ng-include="v"></div>
    <hr>
    <a href="" ng-click="v='tpl'">Load</a>

    <hr>
    <div ng-show="true">1</div>
    <div ng-show="false">2</div>
    <div ng-hide="true">3</div>
    <div ng-hide="false">4</div>

    <hr>

    <div ng-init="a=2">
        <ul ng-switch on="a">
            <li ng-switch-when="1">1</li>
            <li ng-switch-when="2">2</li>
            <li ng-switch-default>other</li>
        </ul>
    </div>
    
    <hr>
    
    <p ng-click="click($event)">click</p>




    <script type="text/ng-template" id="tpl">
        hello, {{ 1+2 }}
    </script>
    <script src="app.js"></script>
</body>
</html>
