<a href="/users/sign_in">sign in</a>
<a href="/users/sign_out">sign out</a>
<form action="/users/sign_out" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" id="_method" value="delete" />
  <input type="submit" name="submit" id="submit" value="sign out" />
</form>
