<div class="todoArea">
  <h2 id="c">Todos</h2>
  <span>{{remaining()}} of {{todoLists.length}} remaining</span><a href='javaScript:;' ng-click='clear()'>Clear</a>
  <ul>
    <li ng-repeat="t in todoLists">
      <input type="checkbox" ng-model="t.done">
      <span ng-init='edit=false;' ng-click='edit=!edit;' ng-hide='edit' ng-model="t.value" class="done-{{t.done}}">{{ t.value }}</span>
      <input type="text" ng-model="t.value" value="{{t.value}}" ng-show='edit' ng-mouseleave='edit=!edit;'/>
    </li>
  </ul>
  <ul>
    <li><input type="text" class='new_todo' name='value' ng-model="t.value"/><button class="btn btn-primary" ng-click="add(t)">Add</button></li>
  </ul>
</div>
