<div class="area" id="area">
  <div class="left"></div>
  <div class="pics">
    <img src="/images/cat/1.jpg" alt="" />
    <img src="/images/cat/2.jpg" alt="" />
    <img src="/images/cat/3.jpg" alt="" />
    <img src="/images/cat/4.jpg" alt="" />
    <img src="/images/cat/5.jpg" alt="" />
    <img src="/images/cat/6.jpg" alt="" />
    <img src="/images/cat/7.jpg" alt="" />
    <img src="/images/cat/8.jpg" alt="" />
    <img src="/images/cat/8.jpg" alt="" />
    <img src="/images/cat/10.jpg" alt="" />
    <img src="/images/cat/11.jpg" alt="" />
    <img src="/images/cat/12.jpg" alt="" />
  </div>
  <div class="right"></div>
</div>

