<div class="area">
  <input class='btn1' type="button" class="button" value="button1" name="xx" />
  <!-- <a href="http://www.sohu.co" class='link1'>link1</a> -->
</div>

<div class='fn_all'>
  <div class="fn_top"></div>
  <div class="fn_t">
    <b class='fn_t_l'></b>
    <span class='fn_t_c'>xxxyyyzzz哈哈提示信息明天后天大后天</span>
    <b class='fn_t_r'></b>
  </div>
</div>

<hr />

<div class="tips_all">
  <div class="tips_top"></div>
  <div class="tips_content">
    <b></b>
    <span>提示信息：哈哈哈</span>
    <b class="tips_right"></b>
  </div>
</div>

<style type="text/css">
/* .container {position: relative;} */
.area {margin: 50px auto;width: 50px;}
.fn_t .fn_t_l, .fn_t .fn_t_r, .fn_all .fn_top {background-image: url(../images/tips.png)}
.fn_all .fn_top {width: 11px;height: 6px;background-position: -28px 0;margin-left: 40px;}
.fn_t b {background-position:0 -6px; height: 25px;width: 7px;display:block;float:left;}
.fn_t .fn_t_r {background-position: -148px -6px;}
.fn_t {clear: left;overflow:hidden;}
.fn_t .fn_t_c {background-color:#82b6de;float: left;height: 25px;inline-height: 25px;color: #fff;display:block;padding: 0 3px;}


.tips_top{ background-image:url(../images/tips2.png); width:11px; height:6px; background-position:-28px 0; margin-left:40px; }
.tips_bottom{ background-image:url(../images/tips2.png); width:11px; height:6px; background-position:-28px -31px; margin-left:40px; }
.tips_content{ clear:left; overflow:hidden; }
.tips_content b{ background-image:url(../images/tips2.png); height:25px; width:7px; background-position:0 -6px; display:block; float:left; }
.tips_content span{ display:block; float:left; padding:0 3px; background-color:#82b6de; height:25px; line-height:25px; color:#FFF; font-size:12px; }
.tips_content .tips_right{ background-position:-148px -6px; }
</style>
